@font-face {
  font-family: 'badges';
  src:  url('./badges.eot?969lkk');
  src:  url('./badges.eot?969lkk#iefix') format('embedded-opentype'),
    url('./badges.ttf?969lkk') format('truetype'),
    url('./badges.woff?969lkk') format('woff'),
    url('./badges.svg?969lkk#badges') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'badges' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-import_contacts:before {
  content: "\e0e0";
}
.icon-local_library:before {
  content: "\e54b";
}
.icon-person_pin:before {
  content: "\e55a";
}
.icon-tumblr:before {
  content: "\e900";
  color: #36465d;
}
.icon-instagram:before {
  content: "\e901";
  color: #e4405f;
}
.icon-git:before {
  content: "\e902";
  color: #f05032;
}
.icon-facebook:before {
  content: "\e903";
  color: #3b5998;
}
.icon-amazon:before {
  content: "\e904";
  color: #f90;
}
.icon-youtube:before {
  content: "\e905";
  color: #f00;
}
.icon-twitter:before {
  content: "\e906";
  color: #1da1f2;
}
.icon-soundcloud:before {
  content: "\e907";
  color: #f30;
}
